.Search{
    text-align: center;
}

.Search-input{
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    border-radius: 25px;
    border: 1px solid rgba(237, 110, 19, 0.8);
    background: rgba(255, 255, 255, 0.1);
    color: #c4a48e;   
}

.Search-button{
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    border-radius: 25px;
    border: 1px solid rgba(237, 110, 19, 0.8);
    background: rgba(255, 255, 255, 0.1);
    color: #c4a48e;   
}

.Search-button:hover{
    color: #e27419 ;
}