.Search{
    text-align: center;
}

.Search-input{
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    border-radius: 25px;
    border: 1px solid rgba(102, 77, 166, 0.8);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(188, 181, 231, 0.606);
}

.Search-button{
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    border-radius: 25px;
    border: 1px solid rgba(102, 77, 166, 0.8);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(188, 181, 231, 0.606); 
}

.Search-button:hover{
    color: rgba(188, 181, 231, 0.606);
}

